body {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/playstation-pattern.png);
	font-family: 'Roboto', sans-serif;
}
.BingoBox {
	height: 9rem;
}
.BingoBox p {
	font-size: .875rem;
	transition: 250ms font-weight ease;
}
.BingoMark::after {
	content: "X";
	display: block;
	position: absolute;
	font-size: 10rem;
	color: rgba(255,255,255,.15);
}